@import url(normalize.css);

/* Project Essentials */

html{
    font-size: 62.5%;
}

img{
    width: 100%;
    display: inline-block;
}

*, *::after,*::before{
    box-sizing: border-box;
}

section{
    margin: 100px 0;                   /* To maintain a required gap between every section */
}

@media screen and (min-width:800px){
    section{
        margin: 200px 0;                   /* To maintain a required gap between every section */
    }
    
}

.hide{
    display: none;
}



:root{
    --color-black-background: #000000;
    --color-grey-font:#cac9c9;
    --color-white:#fff;
    --color-grey-links:#888;
    --color-orange: #FF6700;
    --color-orange-neon:#ff7011;
    --color-violet:#003366;
    --color-violet-light:#0091ff;
    
    --fs-regular:1.8rem;
    --fs-nav-links:1.6rem;
    --fw-lighter:300;
    --fw-light:400;
    --fw-bold:700;
    
    
    --font-inter:'Inter', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --font-mohave:'Mohave', sans-serif;
}

a{
    text-decoration: none;
    color: var(--color-grey-links);
}

ul{
    list-style: none;
}

body{
    overflow-x: hidden;
    background-color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: var(--fw-light);
    font-size: var(--fs-regular);
    color: var(--color-grey-font);
}



/* Grids */

.grid{
    display: grid;
    
}

@media screen and (min-width:800px) {
    .grid--cols-2{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        justify-items: center;
    }
}


.title{
    text-transform: uppercase;
    display: block;
    font-family: Mohave,sans-serif;
    font-style: italic;
    letter-spacing: -.3rem;
    font-size: 7vw;
    line-height: .7;
    padding-right: 1.6rem;
    position: relative;
    margin: 6px 0;
    padding-top: 1.6rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

@media screen and (max-width:800px) {
    .title{
        font-size: 7rem;
    }
}
@media screen and (max-width:600px) {
    .title{
        font-size: 5rem;
    }
}

@media screen and (max-width:400px) {
    .title{
        font-size: 4rem;
    }
}

/* Btn reflection props */

.btn{
    font-size: 4rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--color-violet-light);
    padding: 0.25em 1.25em;
    margin: 10px;
    font-family: var(--font-inter);
    font-weight: 600;
}

.btn--reflection{
    color: var(--color-violet-light);
    text-shadow: 0 0 0.5em var(--color-violet-light);
    box-shadow: inset 0 0 0.5em 0 var(--color-violet-light)
    ,0 0 0.5em 0 var(--color-violet-light);
    position: relative;
    transition: background-color 100ms linear;
    background-color: #000000;
}

.btn--reflection::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--color-violet-light);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1,0.35);
    filter: blur(1.2em);
    opacity: 0.7;
}

.btn--reflection::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 4em 0.5em var(--color-violet-light);
    opacity: 0;
    transition: opacity 100ms linear;
}

.btn--reflection:hover{
    background-color: var(--color-violet-light);
    text-shadow: 0;
    color: #000000;
}

.btn--reflection:hover::before{
    opacity: 1;
}

.btn--reflection:hover::after{
    opacity: 1;
}

/* Loader Component */

.loader-component{
    margin: 0;
    position: absolute;
    display: flex;
    z-index: 101;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}


/* Container */

.container{
    width: 1000px;
    margin: auto;
}

/* Navbar */


.navbar{
    box-shadow: 0 0 1px 1px rgb(40, 40, 40);
    padding: 0 15rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 15rem;
    backdrop-filter: blur(10px);
    z-index: 101;
}

.logo a{
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--font-poppins);
    color: var(--color-grey-font);
}


.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav__links{
    font-size: var(--fs-nav-links);
    display: flex;
}

.nav__link{
    margin:0px 20px;
}

.nav__link a{
    transition: 0.1s;
}

.nav__link:hover a{
    color: var(--color-white);
}


@media screen and (max-width:800px) {
    .nav__links{
        display: none;
    }

    .logo{
        margin: 10px auto;
    }

    .navbar{
       padding: 10px 0;
    }
}




/* Hero */

.hero-component{
    text-align: center;
}

.hero__title{
    font-size: 10vw;
    display: block;
    letter-spacing: -1.2vw;
    color: black;
    padding-top: 4rem;
    text-shadow: 0 0 500px var(--color-violet-light);
}

.hero__title--mid{
    text-shadow: 0 0 100px #ff6600;
}

@media screen and (max-width:800px){
    .hero__title{
        font-size: 5rem;
        letter-spacing: -0.7vw;
        padding-top: 1rem;
        text-shadow: 0 0 50px var(--color-violet-light);
    }
    .hero__title--mid{
        text-shadow: 0 0 20px #ff6600;
    }
}

.text-gradient{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* Stroke text */

.stroke-text{
background-color: var(--color-grey-font);
text-transform: uppercase;
color: black;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-stroke-color: transparent;
-webkit-text-stroke-width: calc(0.4em/16);
}









/* Board section */

.section--road-board{
    overflow: hidden;
    padding: 50px 20px 100px;
    column-gap: 10%;
    justify-items: center;
    align-items: center;
}

.road-board{
    perspective: 70em;
    background-color: var(--color-orange);
    width: 10px;
    height: 500px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow:0 0 4em 5px var(--color-violet);
    position: relative;
}

.road-board::after{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--color-violet-light);
    top: 91%;
    left: 0;
    width: 200%;
    height: 20%;
    transform: perspective(1em)  translateZ(-20px)  rotateX(50deg) scale(2,0.6);
    filter: blur(21px);
    opacity: 1;
}

.board{
    position: absolute;
    color: var(--color-orange);
    text-shadow: 0 0 0.5em var(--color-violet);
    transition: 0.2s;
    font-size: 4rem;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 0 1em 0 var(--color-violet);
    padding: 0.25em 1.25em;
}

.board::before{
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: var(--color-orange-neon);
    transform: skewY(45deg);
}

.board::after{
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: var(--color-orange-neon);
    transform: skewX(45deg);
}

.board1::before{
    right: -5px;
    transform-origin: left;
}

.board1::after{
    bottom: -5px;
    transform-origin: top;

}
.board2::before{
    left: -5px;
    transform-origin: right;
}

.board2::after{
    top: -5px;
    transform-origin: bottom;
}

.board3::before{
    width: 0px;
}

.board3::after{
    bottom: 0px;
    transform-origin: top;
    height: 2px;
    transform: skewX(-45deg);
}

.board1{
    top: -5px;
    right:-20px;
    transform: rotateY(-45deg);
}

.board2{
    top: 250px;
    right: -35px;
    transform: rotateY(45deg);
}

.board3{
    transform: rotateY(40deg);
    top: 125px;
    left: -11px;
}


@media screen and (max-width:800px){

    .road-board{
        left: 10vw;
        transform: scale(0.7);
    }
}
@media screen and (max-width:1000px){
    .road-board{
        transform: scale(0.8);
    }
}






/* Posts or Card Desktop first approach*/


.section--posts{
    font-family: var(--font-poppins);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}

.posts__title{
    grid-row: 1/2;
    font-size: 5rem;
    grid-column: 2/4;
}


.card2{
    grid-column: 1/2;
}

.card3{
    grid-column: 2/3;
}

.card4{
    grid-column: 3/4;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 5%;
    padding: 20px;
    grid-column: 1/2;
}

.card{
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    height: 425px;
    width: 425px;
    margin: 2.5rem 0;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 2px 0 var(--color-orange);
}



.card__cta{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.5rem;
    transition: 0.2s;
    font-size: large;
    z-index: 10;
    opacity: 0;
}

.card:hover .card__cta{
    opacity: 1;
}

.card__title{
    position: absolute;
    top: 0;
    left: 0;
    font-size: larger;
    padding: 2rem 0 0 3rem;
    max-width: 70%;
    transition: 0.2s;
}

.card:hover .card__title{
    z-index: 10;
    transform: scale(1.15);
 }


.card::before{
    content: url(../images/icon-view.svg);
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.card:hover::before{
    opacity: 1;
}


.card::after{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: var(--color-orange);
    opacity: 0;
}

.card:hover::after{
    opacity: 0.25;
}


.card img{
    position: relative;
    top: 5px;
    object-fit: cover;
    width: 60%;
    height: 40%;
    margin: 0 auto;
    transition: 0.2s;
    opacity: 0.7;
    box-shadow: 0 0 4em 10px var(--color-violet);;
    border-radius: 1.5em;
}





.card:hover img{
    transform: scale(1.2);
}

@media screen and (max-width:1350px) {
    .card{
        width: 325px;
        height: 325px;
    }
}

.posts__title--mobile{
    display: none;
}


@media screen and (max-width: 1100px) {

    .section--posts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .posts__title--mobile{
        display: block;
    }
    
    .posts__title{
        display: none;
    }

    .card-container{
        
    }
    .card img{
        transform: scale(1.2);
    }

    .card__title{
        max-width: 100%;
        z-index: 10;
        font-size: 2rem;
        transform: scale(1.15);
     }


}



/* Orange section */





/* Featured Section */

.section--featured .featured-companies--mobile{
    display: none;
}

.section--featured h2{
    font-size: 27vw;
    letter-spacing: -2.2vw;
    word-spacing: 2vw;
    padding-top: 4vw;
    margin-bottom: 150px;
    align-self: flex-start;
}

@media screen and (max-width:800px) {
    .featured-companies--desktop{
        display: none;
    }
    .section--featured .featured-companies--mobile{
        display: flex;
    }

    .section--featured h2{
        margin-bottom: 0px;
    }
}

/* Cube  Css */

.cube{
    width: 300px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(15deg);
    animation: animate 6s linear infinite;
    margin: auto;
}

@keyframes animate{
    0%{
        transform: rotateX(-15deg)  rotateY(-75deg);

    }
    5%{

        transform: rotateX(-15deg) rotateY(15deg);
    }
        
    25%{
        transform: rotateX(-15deg)  rotateY(15deg);
        
    }
    30%{
        transform: rotateX(-15deg) rotateY(105deg);
        
    }
    50%{
        transform: rotateX(-15deg) rotateY(105deg);
        
    }
    
    55%{
        transform: rotateX(-15deg) rotateY(195deg);
        
    }
    75%{
        transform: rotateX(-15deg) rotateY(195deg);
        
    }
    
    80%{
        transform: rotateX(-15deg) rotateY(285deg);

    }


    100%{
        transform: rotateX(-15deg) rotateY(285deg);
    }
}


.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d ;
}

.cube div span {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(180deg,#151515,rgba(0, 51, 102,0.9));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px); /* 300/2 =150*/
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}


.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #003366;
    transform:translateZ(-300px);
    filter: blur(20px);
    box-shadow: 0 0 120px #003366,
    0 0 200px #003366,
    0 0 300px #003366;
}

.featured-companies__logo img{
    width: 100%;
    object-fit: contain;
}

.featured-companies__logo{
    padding: 20px;
}


@media screen and (max-width:800px) {
    .cube{
        width: 240px;
        height: 240px;
    }
    .cube div span{
        transform: rotateY(calc(90deg * var(--i))) translateZ(120px);
    }
    
    .top{
        transform: rotateX(90deg) translateZ(120px);
    }

    .top::before{
        transform:translateZ(-240px);
    }
}


/* For mobile section */

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    width: 100vw;
    padding: 100px 0 200px ;
}

.slider{
    display: flex;
    animation: board-slider 4s infinite;
}

@keyframes board-slider {
 0%{
    transform: translateX(900px);
 }
 5%{
    transform: translateX(450px);
 }
 25%{
    transform: translateX(450px);
 }
 30%{
    transform: translateX(-0);
 }
 50%{
    transform: translateX(-0);
 }
 55%{
    transform: translateX(-450px);
 }
 75%{
    transform: translateX(-450px);
 }
 80%{
    transform: translateX(-900px);
 }
 100%{
    transform: translateX(-900px);
 }
    
}

.board-3d img{
    margin: 0 100px;
    min-width: 250px;
}

.board-3d{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 5em 10px var(--color-violet);
    background: linear-gradient(180deg,#151515,rgba(0, 51, 102,0.7));
}

.board-3d::after{
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--color-violet);
    top: 70%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(5em) rotateX(40deg) scale(1,0.35);
    filter: blur(5em);
    opacity: 0.7;
}


/* About section */



.section--about{
    background: var(--color-orange);
    height: 21vw;
    min-height: 180px;
    color: #000000;
    position: relative;
    display: flex;
    margin-top: 500px;

    align-items: center;
}

.section--about::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-line.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 55%;
    transform: translateX(10%);
}

@media screen and (max-width:800px) {
    .section--about::before{
        background-size: 80%;
    }
}

.section--about h2{
    font-weight: 600;
    letter-spacing: -0.5vw;
    font-size: 7vw;
    padding-left: 5vw;
}

.img-frame{
    position: absolute;
    right: 10px;
    bottom: -20px;
    border: 10px solid rgba(255, 103, 0, 0.5);
    width: 30vw;
    height: 45vw;
    z-index: 11;
    transform: rotate(-15deg);
}

.frame2{
    right: 20px;
    bottom: -40px;
    z-index: 5;
    border: none;
    background: linear-gradient(180deg,#893700,#000);
}
.frame3{
    right: 30px;
    bottom: -60px;
    opacity: 0.5;
    z-index: 4;
    background: linear-gradient(180deg,#893700,#491d00);
    border: none;
    
}
.frame4{
    right: 40px;
    bottom: -80px;
    opacity: 0.3;
    z-index: 4;
    background: linear-gradient(180deg,#893700,#FF6700);
    border: none;

}



.author-img{
    position: absolute;
    bottom: -1px;
    width: 30vw;
    right: 0;
    z-index: 10;
}

@media screen and (max-width:800px) {
    .section--about{
        margin-top: 300px;
    }

    .author-img{
        width: 50vw;
        bottom: -20px;
    }

    .img-frame{
        width: 50vw;
        height: 75vw;
    }

    .section--about::before{
        display: none;
    }
}




/* Form section */

.section--form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section--form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    font-family: var(--font-poppins);
    width: 80vw;
    padding: 1rem;
    margin: 5px;
    background-color: #000000;
    color: var(--color-grey-font);
    border: 2px solid var(--color-violet);
    resize: none;
}

form .alert{
    font-family: var(--font-poppins);
    margin: 0.2rem;
    font-size: 1.4rem;
    color: red;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: "color 9999s ease-out, background-color 9999s ease-out";
    transition-delay: 9999s;
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: var(--color-grey-font) !important;
}

.input:focus{
    outline: none;
}


/* Forms section--- Typewriter */

.typewriter-image-container{
    position: relative;
    width: 700px;
}


.typewriter-image-container::before{
    content: "SAY Hi";
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: var(--font-mohave);
    color: var(--color-orange);
    font-size: 7rem;
    position: absolute;
    top: -55px;
    left: 200px;
    width: 35%;
    height: 150px;
    background-color: var(--color-orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(0.4em/16);
    transform-origin: bottom;
    background-color: var(--color-grey-font);
    transform: skewY(-15.5deg) rotateY(-5deg) rotateX(-40deg);
    box-shadow: -2px -10px 1em 5px var(--color-violet-light);
}

@media screen and (max-width:800px) {
    .typewriter-image-container{
        width: 340px;
    }
    .typewriter-image-container::before{
        content: "SAY Hi";
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 4rem;
        position: absolute;
        top: -70px;
        left: 110px;
        width: 35%;
        height: 120px;
        text-align: center;
    }
}

@media screen and (min-width:800px) {
    .section--form{
        flex-direction: row;
    }
    .input{
        width: 40vw;
    }
}



/* Footer */

.footer__credits{
    margin: 0;
    font-family: var(--font-inter);
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
    color: black;
    opacity: 0.8;
    background-color: var(--color-orange);
}

@media screen and (min-width:800px) {
    .footer__credits{
        font-size: 1.5rem;
    }
}













